<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AzureFile" value="X:" />
    <add key="DestinyFile" value="C:\Users\hiratahideo\Documents\新しいフォルダー  COpy" />
    <add key="TimeToCopy" value="00:00:40" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="DriveRemoteName" value="X:"/>
    <add key="UserID" value="Azure\testetkcc"/>
    <add key="Password" value="/WJc+w5f3vZJC0aX8QfBFr0RWcPzVuU3qHu06RN1jtYwyHFQ/pdjpRR56GgdnC/Aofll8+m6Ccs2G6OzXWSIlQ=="/>
    <add key="AzureServer" value="\\testetkcc.file.core.windows.net\share"/>  
    
    
    <add key="CmdKey" value="cmdkey /add:testetkcc.file.core.windows.net /user:Azure\testetkcc /pass:/WJc+w5f3vZJC0aX8QfBFr0RWcPzVuU3qHu06RN1jtYwyHFQ/pdjpRR56GgdnC/Aofll8+m6Ccs2G6OzXWSIlQ==
net use Z: \\testetkcc.file.core.windows.net\share /persistent:Yes"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>